.user-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100;
    height: 30;
  }
  
  .user-profile-heading {
    font-size: 2rem;
  }
  
  .user-profile-img {
    max-width: 400px;
    margin: 1.5rem;
  }
  
  .user-profile-detail {
    font-size: 1.4rem;
    line-height: 1.3;
    color: rgb(37, 8, 90);
    font-weight: bold;
  }

  h {
    text-align: center;
  }